#board-and-sidebar {
  display: table-row;
}

#board-and-sidebar > #sudokill-board,#sudokill-sidebar {
  display: table-cell;
}

#sudokill-sidebar {
  width: 200px;
}

#status-bar {
  height: 20px;
  margin: 5px;
}

#start-game-btn {
}

#save-score-btn {
  width: 170px;
}

