.goog-palette {
  cursor: default;
  outline: none;
}

.goog-palette-table {
  border: 1px solid #666;
  border-collapse: collapse;
  margin: 5px;
}

.goog-palette-body {
  background-color: beige;
  color: black;
}

.board-bad-cell {
  background-color: silver;
}

.board-good-cell {
  background-color: beige;
}

.goog-palette-cell {
  border-right: 1px solid #666;
  cursor: pointer;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

#cp_text, #ccp_text {
  font: medium monospace;
}

.fakelink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

/* Demo styles */
.simple-palette .goog-palette-active {
  border-color: #edf;
}

.simple-palette .goog-palette-table {
  border: 1px solid #cccccc;
}

.simple-palette .goog-palette-cell {
  border: 1px solid #cccccc;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

.simple-palette .goog-palette-cell-hover {
  border: 1px solid #cc0;
  padding: 0;
  background-color: #ff0 !important;
}

.simple-palette .goog-palette-cell-selected {
/*  border: 1px solid #008 !important; */
  padding: 0;
  color: #00f;
  font-weight: bold;
}

