#board-and-sidebar {
  display: table-row;
}

#board-and-sidebar > #sudokill-board,#sudokill-sidebar {
  display: table-cell;
}

#sudokill-sidebar {
  width: 200px;
  padding: 5px;
}

#status-bar {
  margin: 5px;
  border: 1px solid white;
  width: 100%;
  padding: 3px;
  background-color: beige;
  color: blue;
}

#status-bar {
  height: 20px;
}

#start-game-btn {
}


